<html>
<h1>Hello World!</h1>
<h1 align="right">Hello Django</h1>
{%if request.user.is_authenticated%}

<a href = "{%url 'logout'%}">logout</a>
{%else%}
<p><a href = "{% url 'signup'%}">Sign up</a></p>
<p><a href = "{% url 'login'%}">Login</a></p>
{%endif%}

<p> <a href = {% url 'create' %}>Go to create</a></p>


<p>Female students</p>
{% for student in students %}
{% if student.gender == 'female' %}
<p>{{student.firstname}}</p>
<a href = {% url 'spage1' student.id %}> Click to go </a>
<a href = {% url 'update' student.id %}> Click to update </a>
<a href = {% url 'delete' student.id %}> Click to delete </a>

{% else %}
{% endif %}
{% endfor %}

<form action = "{% url 'search' %}" method = "GET">
<input type ="text" name="search_term" value="Naazneen"/>
<button type = "submit"> GO </button>
</form>

</html>